{
  "reporter": ["html", "lcov", "json", "text", "text-summary", "cobertura"],
  "report-dir": "./coverage/",
  "include": [
    "src/*.ts"
  ],
  "exclude": [
    "node_modules",
    "**/*.d.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "sourceMap": true,
  "instrument": true,
  "all": true,
  "check-coverage": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100
}
